@import "https://fonts.googleapis.com/css?family=Text+Me+One|Alex+Brush";

body {
  height: 100%;
  background-image: url(./the_arcade.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

iframe {
  width: 600px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -140px;
}

.menubtn {
  position: absolute;
  top: 100px;
  left: 550px;
}

.neonsign {
  margin-top: 50px;
}

h1 {
  font-size: 8vw;
  text-align: center;
}
h1 span {
  position: relative;
  display: inline-block;
  clear: both;
}
h1 span:nth-child(1) {
  font-family: "Text Me One";
  font-weight: 300;
  font-size: 0.4em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 20px #3082B2, 0 0 20px #3082B2, 0 0 20px #3082B2, 0 0 20px #3082B2;
  background: #131313;
  padding: 0 0.3em;
  box-shadow: 0 0 10px #131313, 0 0 10px #131313, 0 0 10px #131313;
  z-index: 2;
}
h1 span:nth-child(3) {
  font-family: "Alex Brush";
  font-weight: 300;
  color: white;
  text-shadow: 0 0 20px #C744A4, 0 0 20px #C744A4, 0 0 20px #C744A4;
  -webkit-transform: skew(-5deg, -10deg);
          transform: skew(-5deg, -10deg);
  border: 9px double #f6e1f0;
  border-radius: 25px;
  box-shadow: 0 0 20px #C744A4, 0 0 20px #C744A4, inset 0 0 20px #C744A4;
  padding: 0 0.3em;
  top: -0.2em;
}

/* Dropdown Button */
.dropbtn {
  background-color: rgb(17, 219, 27);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
